<div class="show-component" *ngIf="task" appTaskStatus="{{task.stateId}}">
  <div *ngIf="isRemoved" class="message">
    Task {{task.id}} was succesfully removed
  </div>
  <div *ngIf="!isRemoved">
    <div class="comp-element">
      <label class='name'>Id:</label>
      <label class='data'>{{ task.id }}</label>
    </div>
    <div class="comp-element">
      <label class='name'>Name:</label>
      <label class='data'>{{ task.name }}</label>
    </div>
    <div class="comp-element" *ngIf="task.description">
      <label class='name'>Description:</label>
      <label class='data'>{{ task.description }}</label>
    </div>
    <div class="comp-element" *ngIf="task.finishedAt !== undefined">
      <label class='name'>Finished At:</label>
      <label class='data'>{{ task.finishedAt | myDatePipe }}</label>
    </div>
    <div class="comp-element" *ngIf="task.projectId !== 0">
      <label class='name'>Project Id:</label>
      <label class='data'>{{ task.projectId }}</label>
    </div>
    <div class="comp-element" *ngIf="task.stateId !== 0">
      <label class='name'>State Id:</label>
      <label class='data'>{{ task.stateId }}</label>
    </div>
    <div class="comp-element" *ngIf="task.performerId !== 0">
      <label class='name'>Performer Id:</label>
      <label class='data'>{{ task.performerId }}</label>
    </div>
    <div class="update">
      <a routerLink="update/{{task.id}}">Update</a>
      <a class="remove" (click)="remove()">Remove</a>
    </div>
  </div>
</div>
