<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <app-main-nav-menu></app-main-nav-menu>
  <div class="space"></div>
  <router-outlet></router-outlet>
</div>

