<form [formGroup]="statesForm" (submit)="addState()" *ngIf="isCreate || (!isCreate && state)">
  <h1 *ngIf="isCreate">Create new state:</h1>
  <h1 *ngIf="!isCreate">Update state with id {{ state.id }}:</h1>
  <div class="formGroup">
    <label for="value">Value:</label>
    <input type="text" id="value" formControlName="value" autocomplete="off"/>
    <div class="error" *ngIf="!statesForm.get('value').untouched && statesForm.get('value').errors?.required">
      You need to add smth as state value
    </div>  
    <div class="error" *ngIf="!statesForm.get('value').untouched && statesForm.get('value').errors?.minLength">
      State name have to be at least 5 symbols
    </div>  
  </div>
  <!-- <br/><br/>

  <label for="email">email</label>
  <input type="text" id="email" formControlName="email" />
  <br/><br/> -->
  <div class="buttons">
    <button *ngIf="isCreate" type="submit">Create</button>
    <button *ngIf="!isCreate" type="submit">Update</button>
  </div>
  <div class="result" *ngIf="isOk">
    {{ isCreated ? 'State was created' : 'State was successfuly updated' }}
  </div>
  <div class="result" *ngIf="isOk === false">
    Something goes wrong
  </div>
</form>