<form [formGroup]="usersForm" (submit)="addUser()" *ngIf="isCreate || (!isCreate && user)">
  <h1 *ngIf="isCreate">Create new user:</h1>
  <h1 *ngIf="!isCreate">Update user with id {{ user.id }}:</h1>

  <div class="formGroup">
    <label for="firstName">FirstName:</label>
    <input type="text" id="firstName" formControlName="firstName" autocomplete="off"/>
    <div class="error" *ngIf="!usersForm.get('firstName').untouched && usersForm.get('firstName').errors?.required">
      You need to add smth as firstName
    </div>  
    <div class="error" *ngIf="!usersForm.get('firstName').untouched && usersForm.get('firstName').errors?.minLength">
      You need to add at least 3 symbols
    </div>  
  </div>

  <div class="formGroup">
    <label for="lastName">LastName:</label>
    <input type="text" id="lastName" formControlName="lastName" autocomplete="off"/>
    <div class="error" *ngIf="!usersForm.get('lastName').untouched && usersForm.get('lastName').errors?.required">
      You need to add smth as lastName
    </div>     
    <div class="error" *ngIf="!usersForm.get('lastName').untouched && usersForm.get('lastName').errors?.minLength">
      You need to add at least 5 symbols
    </div>
  </div>

  <div class="formGroup">
    <label for="email">Email:</label>
    <input type="text" id="email" formControlName="email" autocomplete="off"/>
  </div>

  <div class="formGroup">
    <label for="birthday">Birhday:</label>
    <input type="text" id="birthday" formControlName="birthday" autocomplete="off"/>
    <div class="error" *ngIf="!usersForm.get('birthday').untouched && usersForm.get('birthday').errors?.required">
      You need to add smth as date
    </div>  
    <div class="error" *ngIf="!usersForm.get('birthday').untouched && !isDate()">
      Set value as date in format '2019-07-31'
    </div> 
  </div>

  <div class="formGroup">
    <label for="teamId">Team Id:</label>
    <input type="text" id="teamId" formControlName="teamId" autocomplete="off"/>
  </div>

  <div class="buttons">
    <button *ngIf="isCreate" type="submit">Create</button>
    <button *ngIf="!isCreate" type="submit">Update</button>
  </div>
  <div class="result" *ngIf="isOk">
    {{ isCreated ? 'User was created' : 'User was successfuly updated' }}
  </div>
  <div class="result" *ngIf="isOk === false">
    Something goes wrong
  </div>
</form>