/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
}
.space {
    clear: both;
    height: 10px;
}
.nav {
    height: 40px;
}
.name {
    display: block;
    float: left;
    font-weight: bold;
    width: 20%;
    margin: 0 20px;
    text-align: right;
}

.show-component {
    border: 2px solid black;
    margin: 12px 0;
    padding: 25px 5px 5px 5px;
    border-radius: 10px;
    clear: both;
}
.comp-element:first-child {
    margin-bottom: 2px;
}
.update {
    text-align: right;
    margin-right: 20px;
}
.update a {
    text-decoration: underline;
    margin: 0 5px;
}
h1 {
    float: left;
    margin: 0 0 20px 10px;
}
a.create {
    text-decoration: underline;
    color: midnightblue;
    display: block;
    text-align: right;
    margin: 20px 20px 0 0;
    font-size: 18px;
}
.error {
    color:red;
    font-size: 10px;
    margin:3px 0 3px 10px; 
}

form {
    width: 60%;
    margin: 0 auto;
}
form label{
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
    display: block;
    width: 30%;
    float:left;
}
form h1 {
    width: 100%;
}
form .buttons {
    margin: 10px;
    text-align: right;
}
form input {
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 3px 5px;
    outline: none;
}
form button {
    padding: 3px 20px;
    border-radius: 5px;
    background: yellow;
}

form .result {
    text-align: center;
    font-size: 20px;
    color: blue;
}
.message {
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 20px;
}
a {
    cursor: pointer;
}
.comp-element {
    clear: both;
}