.menuItem {
    display: block;
    float: left;
    width: calc(20% - 10px);
    padding: 5px;
    font-size: 22px;
    background: yellow;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
}