<div class="nav">
    <a class="menuItem" routerLink="projects">
        Projects
    </a>
    
    <a class="menuItem" routerLink="tasks">
        Project tasks
    </a>

    <a class="menuItem" routerLink="users">
        Users
    </a>

    <a class="menuItem" routerLink="teams">
        Teams
    </a>

    <a class="menuItem" routerLink="states">
        States
    </a>
</div>