<div class="show-component" *ngIf="user">
  <div *ngIf="isRemoved" class="message">
    User {{user.id}} was succesfully removed
  </div>
  <div *ngIf="!isRemoved">
    <div class="comp-element">
      <label class='name'>Id:</label>
      <label class='data'>{{ user.id }}</label>
    </div>
    <div class="comp-element">
      <label class='name'>FirstName:</label>
      <label class='data'>{{ user.firstName }}</label>
    </div>
    <div class="comp-element">
      <label class='name'>LastName:</label>
      <label class='data'>{{ user.lastName }}</label>
    </div>
    <div class="comp-element">
      <label class='name'>Birthday:</label>
      <label class='data'>{{ user.birthday | myDatePipe }}</label>
    </div>
    <div class="comp-element" *ngIf="email">
      <label class='name'>Email:</label>
      <label class='data'>{{ user.email }}</label>
    </div>
    <div class="comp-element" *ngIf="user.teamId !== 0">
      <label class='name'>Team Id:</label>
      <label class='data'>{{ user.teamId }}</label>
    </div>
    <div class="update">
      <a routerLink="update/{{user.id}}">Update</a>
      <a class="remove" (click)="remove()">Remove</a>
    </div>
  </div>
</div>
