<form [formGroup]="projectsForm" (submit)="addProject()" *ngIf="isCreate || (!isCreate && project)">
  <h1 *ngIf="isCreate">Create new project:</h1>
  <h1 *ngIf="!isCreate">Update project with id {{ project.id }}:</h1>

  <div class="formGroup">
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name" autocomplete="off"/>
    <div class="error" *ngIf="!projectsForm.get('name').untouched && projectsForm.get('name').errors?.required">
      You need to add smth as name
    </div>  
    <div class="error" *ngIf="!projectsForm.get('name').untouched && projectsForm.get('name').errors?.minLength">
      You need to add at least 6 symbols
    </div>  
  </div>

  <div class="formGroup">
    <label for="description">Description:</label>
    <input type="text" id="description" formControlName="description" autocomplete="off"/>
  </div>

  <div class="formGroup">
    <label for="deadLine">DeadLine:</label>
    <input type="text" id="deadLine" formControlName="deadLine" autocomplete="off"/>
    <div class="error" *ngIf="!projectsForm.get('deadLine').untouched && projectsForm.get('deadLine').errors?.required">
      You need to add smth as date
    </div>  
    <div class="error" *ngIf="!projectsForm.get('deadLine').untouched && !isDate()">
      Set value as date in format '2019-07-31'
    </div> 
  </div>

  <div class="formGroup">
    <label for="teamId">Team Id:</label>
    <input type="text" id="teamId" formControlName="teamId" autocomplete="off"/>
    <div class="error" *ngIf="!projectsForm.get('teamId').untouched && projectsForm.get('teamId').errors?.required">
      You need to add some numbers as team id
    </div>  
  </div>

  <div class="formGroup">
    <label for="authorId">Author Id:</label>
    <input type="text" id="authorId" formControlName="authorId" autocomplete="off"/>
    <div class="error" *ngIf="!projectsForm.get('authorId').untouched && projectsForm.get('authorId').errors?.required">
      You need to add some numbers as author id
    </div>  
  </div>

  <div class="buttons">
    <button *ngIf="isCreate" type="submit">Create</button>
    <button *ngIf="!isCreate" type="submit">Update</button>
  </div>
  <div class="result" *ngIf="isOk">
    {{ isCreated ? 'Project was created' : 'Project was successfuly updated' }}
  </div>
  <div class="result" *ngIf="isOk === false">
    Something goes wrong
  </div>
</form>