<form [formGroup]="teamsForm" (submit)="addTeam()" *ngIf="isCreate || (!isCreate && team)">
  <h1 *ngIf="isCreate">Create new team:</h1>
  <h1 *ngIf="!isCreate">Update team with id {{ team.id }}:</h1>
  <div class="formGroup">
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name" autocomplete="off"/>
    <div class="error" *ngIf="!teamsForm.get('name').untouched && teamsForm.get('name').errors?.required">
      You need to add smth as team name
    </div>  
    <div class="error" *ngIf="!teamsForm.get('name').untouched && teamsForm.get('name').errors?.minLength">
      Team name have to be at least 5 symbols
    </div>  
  </div>
  <!-- <br/><br/>

  <label for="email">email</label>
  <input type="text" id="email" formControlName="email" />
  <br/><br/> -->
  <div class="buttons">
    <button *ngIf="isCreate" type="submit">Create</button>
    <button *ngIf="!isCreate" type="submit">Update</button>
  </div>
  <div class="result" *ngIf="isOk">
    {{ isCreated ? 'Team was created' : 'Team was successfuly updated' }}
  </div>
  <div class="result" *ngIf="isOk === false">
    Something goes wrong
  </div>
</form>