<div class="show-component" *ngIf="project">
  <div *ngIf="isRemoved" class="message">
    Project {{project.id}} was succesfully removed
  </div>
  <div *ngIf="!isRemoved">
    <div class="comp-element">
      <label class='name'>Id:</label>
      <label class='data'>{{ project.id }}</label>
    </div>
    <div class="comp-element">
      <label class='name'>Name:</label>
      <label class='data'>{{ project.name }}</label>
    </div>
    <div class="comp-element" *ngIf="project.description">
      <label class='name'>Description:</label>
      <label class='data'>{{ project.description }}</label>
    </div>
    <div class="comp-element" *ngIf="project.deadline !== undefined">
      <label class='name'>DealLine:</label>
      <label class='data'>{{ project.dealLine | myDatePipe }}</label>
    </div>
    <div class="comp-element" *ngIf="project.authorId !== 0">
      <label class='name'>Author Id:</label>
      <label class='data'>{{ project.authorId }}</label>
    </div>
    <div class="comp-element" *ngIf="project.teamId !== 0">
      <label class='name'>Team Id:</label>
      <label class='data'>{{ project.teamId }}</label>
    </div>
    <div class="update">
      <a routerLink="update/{{project.id}}">Update</a>
      <a class="remove" (click)="remove()">Remove</a>
    </div>
  </div>
</div>
