<div class="show-component" *ngIf="state">
  <div *ngIf="isRemoved" class="message">
    State {{state.id}} was succesfully removed
  </div>
  <div *ngIf="!isRemoved">
    <div class="comp-element">
      <label class='name'>Id:</label>
      <label class='data'>{{ state.id }}</label>
    </div>
    <div class="comp-element">
      <label class='name'>Value:</label>
      <label class='data'>{{ state.value }}</label>
    </div>
    <div class="update">
      <a routerLink="update/{{state.id}}">Update</a>
      <a class="remove" (click)="remove()" *ngIf="state.id > 5">Remove</a>
    </div>
  </div>
</div>
