<div class="show-component" *ngIf="team">
  <div *ngIf="isRemoved" class="message">
    Team {{team.id}} was succesfully removed
  </div>
  <div *ngIf="!isRemoved">
    <div class="comp-element">
      <label class='name'>Id:</label>
      <label class='data'>{{ team.id }}</label>
    </div>
    <div class="comp-element">
      <label class='name'>Name:</label>
      <label class='data'>{{ team.name }}</label>
    </div>
    <div class="update">
      <a routerLink="update/{{team.id}}">Update</a>
      <a class="remove" (click)="remove()">Remove</a>
    </div>
  </div>
</div>
