<form [formGroup]="tasksForm" (submit)="addTask()" *ngIf="isCreate || (!isCreate && task)">
  <h1 *ngIf="isCreate">Create new task:</h1>
  <h1 *ngIf="!isCreate">Update task with id {{ task.id }}:</h1>

  <div class="formGroup">
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name" autocomplete="off"/>
    <div class="error" *ngIf="!tasksForm.get('name').untouched && tasksForm.get('name').errors?.required">
      You need to add smth as name
    </div>  
    <div class="error" *ngIf="!tasksForm.get('name').untouched && tasksForm.get('name').errors?.minLength">
      You need to add at least 6 symbols
    </div>  
  </div>

  <div class="formGroup">
    <label for="description">Description:</label>
    <input type="text" id="description" formControlName="description" autocomplete="off"/>
  </div>

  <div class="formGroup">
    <label for="finishedAt">Finished At:</label>
    <input type="text" id="finishedAt" formControlName="finishedAt" autocomplete="off"/>
    <div class="error" *ngIf="!tasksForm.get('finishedAt').untouched && tasksForm.get('finishedAt').errors?.required">
      You need to add smth as date
    </div>  
    <div class="error" *ngIf="!tasksForm.get('finishedAt').untouched && !isDate()">
      Set value as date in format '2019-07-31'
    </div> 
  </div>

  <div class="formGroup">
    <label for="projectId">Project Id:</label>
    <input type="text" id="projectId" formControlName="projectId" autocomplete="off"/>
    <div class="error" *ngIf="!tasksForm.get('projectId').untouched && tasksForm.get('projectId').errors?.required">
      You need to add some numbers as project id
    </div>  
  </div>

  <div class="formGroup">
    <label for="stateId">State Id:</label>
    <input type="text" id="stateId" formControlName="stateId" autocomplete="off"/>
    <div class="error" *ngIf="!tasksForm.get('stateId').untouched && tasksForm.get('stateId').errors?.required">
      You need to add some numbers as state id
    </div>  
  </div>

  <div class="formGroup">
    <label for="performerId">Performer Id:</label>
    <input type="text" id="performerId" formControlName="performerId" autocomplete="off"/>
    <div class="error" *ngIf="!tasksForm.get('performerId').untouched && tasksForm.get('performerId').errors?.required">
      You need to add some numbers as team id
    </div>  
  </div>

  <div class="buttons">
    <button *ngIf="isCreate" type="submit">Create</button>
    <button *ngIf="!isCreate" type="submit">Update</button>
  </div>
  <div class="result" *ngIf="isOk">
    {{ isCreated ? 'Project was created' : 'Project was successfuly updated' }}
  </div>
  <div class="result" *ngIf="isOk === false">
    Something goes wrong
  </div>
</form>